@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");

body {
   font-family: 'Lora', serif;
   font-size: 18px;
   margin: 0px;
   background: linear-gradient(-225deg, rgba(150,193,236), rgba(240,255,240));

}

h1, h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: white;

	
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;


}
a {
	text-decoration: none;
}

.avatar {
	width: 250px;
	height: 250px;
	margin-left: 600px;
	margin-right: 370px;



	
}
p {
	text-align-last: left;
	margin-left: 370px;
	margin-right: 370px;
}


 